---
apiVersion: infra.testplane.io/v1alpha1
kind: IntegrationTest
metadata:
  name: instance-sequential-integrationtest-sample
  labels:
    app.kubernetes.io/name: testplane
    app.kubernetes.io/managed-by: kustomize
spec:
  mode: Sequential
  repeat:
    count: 1
    # untilFailure: true
    delayBetweenRounds: 60
  steps:
    - name: 创建主机
      resource:
        manifest:
          apiVersion: infra.qingcloud.test/v1alpha1
          kind: Instance
          metadata:
            name: instance-sample
          spec:
            instanceTemplateRef:
              name: instance-template-sample-qingcloud
            lifecycle:
              onDelete: Destroy
              powerState: running
      expectations:
        allOf:
          - function: InstanceReady

    - name: 绑定安全组
      resource:
        manifest:
          apiVersion: infra.qingcloud.test/v1alpha1
          kind: Instance
          metadata:
            name: instance-sample
          spec:
            securityGroupsRef:
              - name: securitygroup-sample
            lifecycle:
              onDelete: Destroy
              powerState: running
      expectations:
        allOf:
          - function: InstanceSecurityGroupExists

    - name: 停止主机
      resource:
        manifest:
          apiVersion: infra.qingcloud.test/v1alpha1
          kind: Instance
          metadata:
            name: instance-sample
          spec:
            securityGroupsRef:
              - name: securitygroup-sample
            lifecycle:
              powerState: stopped
      expectations:
        allOf:
          - function: InstanceStopped

    - name: 启动主机
      resource:
        manifest:
          apiVersion: infra.qingcloud.test/v1alpha1
          kind: Instance
          metadata:
            name: instance-sample
          spec:
            securityGroupsRef:
              - name: securitygroup-sample
            lifecycle:
              powerState: running
      expectations:
        allOf:
          - function: InstanceReady

    - name: 解绑安全组
      resource:
        manifest:
          apiVersion: infra.qingcloud.test/v1alpha1
          kind: Instance
          metadata:
            name: instance-sample
          spec:
            lifecycle:
              onDelete: Destroy
              powerState: running
      expectations:
        allOf:
          - function: InstanceSecurityGroupNotExists

    - name: 重启主机
      resource:
        manifest:
          apiVersion: infra.qingcloud.test/v1alpha1
          kind: Instance
          metadata:
            name: instance-sample
          spec:
            lifecycle:
              onDelete: Destroy
              powerState: restart
      expectations:
        allOf:
          - function: InstanceReady

    - name: 删除主机
      resource:
        manifest:
          apiVersion: infra.qingcloud.test/v1alpha1
          kind: Instance
          metadata:
            name: instance-sample
        action: Delete
      expectations:
        allOf:
          - function: ResourceNotExists
