---
apiVersion: infra.testplane.io/v1alpha1
kind: IntegrationTest
metadata:
  name: sequential-cluster-integrationtest-sample
  labels:
    app.kubernetes.io/name: testplane
    app.kubernetes.io/managed-by: kustomize
spec:
  mode: Sequential
  repeat:
    count: 1
    delayBetweenRounds: 10
  steps:
    - name: 创建集群
      timeoutSeconds: 600
      resource:
        manifest:
          apiVersion: infra.qingcloud.test/v1alpha1
          kind: Cluster
          metadata:
            name: cluster-sample
          spec:
            owner: "usr-hRAmdSn6"
            zone: "pek3b"
            appVersionRef:
              name: mysql-plus-1.4.1
            confOverrides:
              cluster:
                vpc_router_id: rtr-qk0rurp3
                vxnet: vxnet-0hqwk3e
                maininstance:
                  count: 2
      expectations:
        allOf:
          - function: ClusterReady
          - function: ClusterNodeCount
            params:
              expected: 2

    - name: 增加节点
      resource:
        manifest:
          apiVersion: infra.qingcloud.test/v1alpha1
          kind: Cluster
          metadata:
            name: cluster-sample
          spec:
            owner: "usr-hRAmdSn6"
            zone: "pek3b"
            appVersionRef:
              name: mysql-plus-1.4.1
            confOverrides:
              cluster:
                vpc_router_id: rtr-qk0rurp3
                vxnet: vxnet-0hqwk3e
                maininstance:
                  count: 3
      expectations:
        allOf:
          - function: ClusterReady
          - function: ClusterNodeCount
            params:
              expected: 3

    - name: 升级集群
      timeoutSeconds: 1200
      resource:
        manifest:
          apiVersion: infra.qingcloud.test/v1alpha1
          kind: Cluster
          metadata:
            name: cluster-sample
          spec:
            owner: "usr-hRAmdSn6"
            zone: "pek3b"
            appVersionRef:
              name: mysql-plus-1.5.0
            confOverrides:
              cluster:
                vpc_router_id: rtr-qk0rurp3
                vxnet: vxnet-0hqwk3e
                maininstance:
                  count: 3
      expectations:
        allOf:
          - function: ClusterHealthy
